@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.chat-container {
  color: black;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
}
.chat-window {
  flex-grow: 1;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  background: #8fc6a6;
  overflow-y: auto;
}
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.sender {
  min-width: 80px;
  margin-right: 10px;
  background-color: #bbbbbb;
  color: #000000;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.server-sender {
    background-color: #007631b4;
    color: #f2ff00;
}
.me-sender {
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
}
.text {
  flex-grow: 1;
  font-style: italic;
  word-wrap: break-word;
  text-align: left;
  padding: 12px;
  background-color: #eaeaea;
  border-radius: 12px;
  max-width: 70%;
  position: relative;
}
.text::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 0;
  border-color: #eaeaea transparent transparent;
  left: -10px;
}
.chat-footer {
  display: flex;
  padding: 10px;
  background-color: #8fc6a6;
  border-top: 1px solid #263238;
  border-radius: 0 0 6px 6px;
}
.chat-input {
  flex: 1;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  outline: none;
  background-color: #ffffff;
  border-radius: 6px 0 0 6px;
}
.send {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0.15;
  background-color: #009d25;
  color: #ffffff;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: background-color 0.3s;
}
.send:hover {
  background-color: #218838;
}