@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
.chat-window {
  width: 400px;
  height: 300px; /* Locks height expansion of chat */
  border: 1px solid #263238; /* Bounding Box */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background: #8fc6a6;
  position: relative;
  overflow: auto;
}
.chat-window .message {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #000000; /* Line Between Messages */
    padding: 5px;
    position: relative;
    background-color: transparent transparent;
}
.chat-window .message .sender { /* Box around Name */
    min-width: 80px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #00ff37;
    border-radius: 20px; /* Rounded corners */
}
.chat-window .message .text {
    flex-grow: 1;
    font-style: italic;
    word-wrap: break-word;
    text-align: left;
    display: inline-block;
    padding: 10px;
    background-color: #eaeaea; /* Background color */
    border-radius: 15px; /* Rounded corners */
    position: relative;
    max-width: 70%;
}
.chat-window .message .text::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 0;
    border-color: #eaeaea transparent transparent;
    top: 10px;
    left: -15px;
    transform: rotate(220deg);
}
.chat-footer {
    height: 40px;
    border-top: none;
    display: flex;
}
.chat-footer .chat-input {
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    outline: none;
    color: #000000;
    background-color: #ffffff;
}
.chat-footer .chat-send { 
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 1em;
    padding: 0;
}