.game-container {
  width: 1000px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
    margin: 0px 0%;
}

.right {
    margin: 0px 0%;
}

.YouText {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.OpponentText {
    font-size: 25px;
    color: #797979;
}

.status-box {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column; /* Text */
  align-items: center;
}
  
.status-box.joined {
  background-color: green;
  color: white;
}
  
.status-box.not-joined {
  background-color: red;
  color: white;
}
  
.status-box.ready {
  background-color: green;
  color: white;
}
  
.status-box.not-ready {
  background-color: red;
  color: white;
}
  
button {
  width: 100px;
  height: 40px
}
