.App_game {
  text-align: center;
}
html, body {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
.field {
  position: relative;
  display: flex;
  justify-content: center;
}
#message-container {
    z-index: 999;
    font-size: 60pt;
    color: rgb(59, 133, 49);
    margin-left: 48%;
    margin-top: 15%;
}
