.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.field {
  position: relative;
  width: 1000;
  height: 500;
  display: flex;
  justify-Content: center;
  align-Items: center;
}
